<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ylzn.scanlibrary" >

    <!--允许程序振动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true">

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".zxing.scan.view.CameraCaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme"
            ></activity>



    </application>


</manifest>
